<div id ="post-container">
    <img id="image-post-image" src="/{{currentPost.photopath}}" alt="">
    <div id ="info">
            <header id = "image-post-title">
                <h2 id="image-post-title-text">{{currentPost.title}}</h2>
            </header> 
            <div id ='image-post-author' class="info-tags">{{currentPost.username}}</div>
            <div id="image-post-date" class="info-tags">{{currentPost.created}}</div>
            <div id = "image-post-desc" class="info-tags">{{currentPost.description}}</div>
        </div>
    <div id="messages-grid">
        <header id ="comment-title">
            <h2>Comments</h2>
            </header>
            <div id= "message-list"></div>
            <div id="comment-box">
                <textarea id="comment-box-text" placeholder="Enter Comment Here!"></textarea>
                <button type="submit" class="CommentButton"> Post</button>
            </div>
    </div>
    
</div>






{{!-- <body>
    <div class="ViewingPost">
        <header id="viewpost_intro">
            <h1>View Post</h1>
        </header>
        <section class="ViewPostInfo">
            <h2>Post Title: Fake Image</h2>
        </section>
        <section class="ViewPostInfo">
            <h2>Post Author: Siham</h2>
        </section>
        <section class="ViewPostInfo">
            <h2>Creation Time: 9:48PM</h2>
        </section>
        <section id="viewImage">
            <img src="https://fakeimg.pl/300/" alt="Couldn't display image">
        </section>
    </div>
</body> --}}